@import "./variables.scss";

.menu {
  max-height: 2160px;
  height: 2160px;
  width: 3840px;
  overflow: hidden;
  background-color: $secondary;
  font-family: $family-primary;

  &-header {
    background-color: $primary;
    display: flex;
    justify-content: center;
    padding: 45px 0;
    height: 254px;

    img {
      height: 160px;
    }
  }

  &-content {
    height: 85%;
    padding: 80px 100px 60px;

    .category-title {
      font-size: 65.963px;
      color: $primary;
      font-weight: normal;
      margin-bottom: 50px;
      font-family: $family-primary;
    }

    .column.is-4 .category-title {
      font-size: 69.96px;
      line-height: 110%;
    }

    .column.is-4 .menu-card-info .item-title {
      font-size: 62.4965px;
      line-height: 76px;
    }
    .column.is-4 .menu-card-info .item-price {
      font-size: 62.4965px;
      line-height: 110%;
    }

    .menu-no-images {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .menu-category {
        width: 20%;
        height: 50%;
        padding-right: 15px;
        margin-bottom: 100px;

        .category-title {
          white-space: nowrap;
          font-size: 65.963px;
          margin-bottom: 60px;
        }

        &-items {
          .menu-card-info {
            &:not(:last-child) {
              margin-bottom: 33px;
            }
          }
        }
      }
    }
  }

  &-card {
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    img {
      min-width: 480.02px;
      max-height: 320.11px;
      margin-right: 40px;
    }

    &-info {
      .item-title {
        color: #fff;
        font-size: 46.5621px;
        margin-bottom: 14px;
        font-weight: normal;
      }

      .item-price {
        font-size: 46.5621px;
        color: $primary;
        font-weight: bold;
      }
    }
  }

  &-items {
    height: 1425.96px;
    &.big-image {
      .menu-card img {
        min-width: 712.8px;
        width: 712.8px;
        max-height: 429.66px;

        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
    }
  }

  &-footer {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 77px;
    background-color: $secondary;

    img {
      height: 100px;
    }

    &-decors {
      img {
        width: 600px;
        height: 50px;
      }

      display: flex;
      flex-direction: column;
    }

    &-guestie {
      display: flex;
      align-items: center;

      p {
        font-size: 34px;
        font-family: $family-primary;
        margin-right: 30px;
      }
    }
  }
}

.button.guestie-menu {
  padding: 40px 50px;
  border-radius: 9999px;
  background-color: #fff;
  color: $black;
  border: 2.5px solid $primary;
  font-size: 48px;
  font-family: $family-primary;
  font-weight: 700;
  height: 110px;
  margin-bottom: 50px;
  position: fixed;
  bottom: 0;
  left: 50%;
}
